/* Dashboard.css */

  
  /* DashBoard.css */

/* Main container styles */
div {
  margin: 3%;
  align-items: center;
  padding: 0;
}

/* Logout button styles */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Table container styles */
.table-container {
  margin-top: 20px;
  overflow-x: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Table styles */
table {
  width: 150%;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

/* User statistics styles */
h2 {
  margin-top: 20px;
  color: #333;
}

p {
  margin: 5px 0;
  color: #555;
}
