/* Dashboard.css */

/* Main container styles */
div {
  margin: 1%;
  align-items: center;
  padding: 0;
  height: auto;
}

/* Logout button styles */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px; /* Add margin to separate the button from user statistics */
}

button:hover {
  background-color: #45a049;
}

/* Table container styles */
.table-container {
  margin-top: 40%;
  padding: 20px;
  padding-top: 20px;
  overflow-x: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Table styles */
table {
  width: 150%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

/* User statistics container styles */
.user-stats-container {
  display: none; /* Hide user statistics by default */
}

/* User statistics styles */
h2 {
  margin-top: 1px;
  color: #333;
  cursor: pointer; /* Add cursor pointer to indicate that it's clickable */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  color: #555;
}

